.padding-div{
  padding-top: 30px;
}

.icon-div{
  padding-top: 13px;
}

.icon-div-font{
  font-style: AirbnbCerealApp;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--brownish-grey);
  padding-left: 12px;
  text-align: center;
}

.text-area-div{
  padding-top:30px
}

.overlay-icon{
  position: absolute;
}

.right-icon{
  left: 25px;
}

.connect-font{
  font-style: AirbnbCerealApp;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a5a5a5;
}

.big-font{
  font-style: AirbnbCerealApp;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
}

.medium-font{
  font-style: AirbnbCerealApp;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  .orange-font{
    color: #f5a623;
  }
}
