{
  "presets": [
    "@babel/preset-env",
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "react-loadable/babel",
    "transform-class-properties",
    "lodash",
    ["import",
      {
        "libraryName": "antd",
        "style": true,
      },
    ]
  ]
}
