.price-font{
  width: 58px;
  height: 16px;
  font-style: AirbnbCerealApp;
  font-size: 12px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.avatar-bg {
  background-color: #f8c81c;
  vertical-align: center;
}
