// sidebar
.sidebar{
  border-right: 1px solid #e6ecf5;
  min-height: 100vh;

  img {
    width:100%;
    padding-top: 20px;
  }

  .icon-div{
    height: 10vh
  }

  .sidebar-manu{
    padding-top: 20px;

    ul{
      list-style: none;
      padding-left: 0;
    }

    li{
      height: 10vh;

    }
  }
}


.container{
  min-width: 100%;
}

.header{
  border-bottom: 1px solid #e6ecf5;
  height: 10vh;
  .dashboard-name{
    padding: 10px;
  }
}

.main{
  height: 90vh;
  background-color: #f9fafb;
}

.left-div{
  padding: 10px;
  height: 90vh;
  width: 100%;
  .left-inner-div{
    padding: 20px
  }

  .left-top-div{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.0625) !important;
    width: 100%;
    height: 50%;
    padding: 20px;
    .left-top-inner-div{
      border-bottom: 1px solid rgba(0, 0, 0, 0.0625) !important;
    }
  }

  .left-down-div{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.0625) !important;
    width: 100%;
    height: 50%;
  }

  .left-center-div{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.0625) !important;
    width: 100%;
    height: 100%;
  }
}

.rigth-div{
  padding: 10px;
  height: 90vh;
  width: 90%;
  .rigth-inner-div{
    padding: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.0625) !important;
    width: 100%;
    height: 100%;
    .order-status-div{
      border-bottom: 1px solid rgba(0, 0, 0, 0.0625);
    }
  }
}

.guate-outter-div{
  padding: 10px;
  .guate-div{
    padding: 20px;
    background-color: white;
    height: 20vh;
    border: 1px solid rgba(0, 0, 0, .0625) !important;
  }
}

.map-outter-div{
  padding: 10px;
  .map-div{
    background-color: white;
    height: 30vh;
    border: 1px solid rgba(0, 0, 0, .0625) !important;
  }
}

.charts-outter-div{
  padding: 10px;
  .charts-div{
    background-color: white;
    height: 30vh;
    border: 1px solid rgba(0, 0, 0, .0625) !important;
  }
}

.stacked-chart{
  height: 200px;
  width: 400px;
}


// multi-line chart
svg {
    font-family: Sans-Serif, Arial;
}
.line {
  stroke-width: 2;
  fill: none;
}

.axis path {
  stroke: black;
}

.text {
  font-size: 12px;
}

.title-text {
  font-size: 12px;
}


//weather

.weather-div{
  padding: 20px;
  h5,h3 {
    border-bottom: 1px solid rgba(0, 0, 0, .0625)
  };
  .weather-row{
    padding-left: 10px;
  }

}


//tooltip

.tooltip{
  position: absolute;
  height: 100px;
  width: 100px;
  font-family: simsun;
  font-size: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  border-radius: 5px;
  opacity:1.0;
}

.hidden_tooltip{
  visibility: hidden;
}

.show_tooltip{
  visibility: visible;
}

// fontface
h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: #72777a;
}

h7 {
  font-family: Roboto, -apple-system, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 0.5px;
  font-size: 12px;
  color: #72777a;
}

.icon{
  width: 50%
}
