//Override variables in:
//https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
$primary-color: #f5a623;
$secondary-color: #f8c81c;
$primary-gray: #a5a5a5;
$secondary-gray: #6f6f6f;
$dark-primary-color: #CC8A1E;
$light-gray: #dedede;
$layout-body-background: white;
$layout-header-background: white;

$rate-star-color: $primary-color;
