
.activity-card-lower-div{
  border: 1px solid #dedede;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 31px
}

.information-div{
  padding-top: 18px;
}

.info_font{
  font-family: AirbnbCerealApp;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6f6f6f;
  padding-left: 8px;
}

.price_info{
  font-family: AirbnbCerealApp;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #6f6f6f;
}
