
.gold{
  background-color: #f8c81c;
  border-color: transparent;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.silver{
  background-color: #a5a5a5;
  border-color: transparent;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.bronze{
  background-color: #8b572a;
  border-color: transparent;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.subject{
  background-color: #f8c81c;
  border-color: transparent;
  color:#ffffff
}

.language{
  background-color: #417505;
  border-color: transparent;
  color:#ffffff
}
