.padding-row{
  padding-top: 30px
}

.padding-div-old{
  padding-top: 120px
}

.select-div{
  padding-top: 30px;
  padding-bottom: 30px;
  width:303px;
  position: absolute;
}

.bog-time-picker{
  left: 400px
}

.map-div{
  padding-top: 30px;
}

.detail-icon-div-font{
  font-style: AirbnbCerealApp;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--brownish-grey);
};

.font-bold{
  font-weight:bold
}

.meal-div-font{
  font-style: AirbnbCerealApp;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-left: 4px;
  color: var(--brownish-grey);
}

.icon-padding{
  padding-left: 23px;
}

.button-padding{
  padding-left: 25px
}
.precautions-div{

  .precautions-div-font{
    font-style: AirbnbCerealApp;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    padding-left: 4px;
    color: var(--brownish-grey);
  }
}
