.first-icon-div{
  padding-top: 30px;
}

.row-padding{
  padding-top: 30px;
}

.button-padding{
  padding-left: 25px;
}

.icon-div{
  padding-top: 13px;
}

.icon-div-font{
  font-style: AirbnbCerealApp;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--brownish-grey);
  padding-left: 12px;
  text-align: center;
}

.text-area-div{
  padding-top:30px
}
